In [1]:
import pandas as pd

**Заберем информацию о победителях фестивалей со страниц Википедии**

In [2]:
url_1 = "https://en.wikipedia.org/wiki/Golden_Bear"
df_berlin = pd.read_html(url_1)[1]

In [3]:
url_2 = "https://en.wikipedia.org/wiki/Palme_d%27Or"
df_cannes = pd.read_html(url_2)[1]

In [4]:
url_3 = "https://en.wikipedia.org/wiki/Golden_Lion"
df_venice = pd.read_html(url_3)[1]

**Немного поработаем с данными по Берлинскому кинофестивалю**

In [5]:
df_berlin.head()

,Year,English Title,Original title,Director(s),Production Country
0,1951: West German Jury Vote,1951: West German Jury Vote,1951: West German Jury Vote,1951: West German Jury Vote,1951: West German Jury Vote
1,1951 (1st),Four in a Jeep (Drama),Die Vier im Jeep,Leopold Lindtberg,Switzerland
2,1951 (1st),Without Leaving an Address (Comedy),...Sans laisser d'adresse,Jean-Paul Le Chanois,France
3,1951 (1st),In Beaver Valley (Documentary),In Beaver Valley (Documentary),James Algar,United States
4,1951 (1st),Justice Is Done (Thriller & Adventure),Justice est faite,André Cayatte,France

In [6]:
#Переведем названия столбцов в нижний регистр и уберем пробелы
df_berlin.columns = map(str.lower, df_berlin.columns)
df_berlin.columns = df_berlin.columns.str.replace(' ', '_')

In [7]:
#Уберем строки с идентичными значениями в столбцах, а также уберем лишние символы из столбца с годом проведения фестиваля
df_berlin = df_berlin[df_berlin["original_title"] != df_berlin["production_country"]]
df_berlin['year'] = [x[:4] for x in df_berlin['year']]

In [8]:
#В кач-ве страны производства оставим только одну (больший вес имеет та страна, которая вложила больше средств)
df_berlin['production_country'] = df_berlin['production_country'].replace(",.*", "", regex=True)

**Проделаем аналогичные действия для Каннского кинофестиваля**

In [9]:
df_cannes.head()

,Year,English Title,Original title,Director(s),Production Country,Ref.
0,1939,The inaugural Cannes Film Festival was to have...,The inaugural Cannes Film Festival was to have...,The inaugural Cannes Film Festival was to have...,The inaugural Cannes Film Festival was to have...,[15]
1,"Awarded as ""Grand Prix du Festival Internation...","Awarded as ""Grand Prix du Festival Internation...","Awarded as ""Grand Prix du Festival Internation...","Awarded as ""Grand Prix du Festival Internation...","Awarded as ""Grand Prix du Festival Internation...","Awarded as ""Grand Prix du Festival Internation..."
2,1946,Brief Encounter,Brief Encounter,David Lean,United Kingdom,[16]
3,1946,The Last Chance,Die Letzte Chance,Leopold Lindtberg,Switzerland,[17]
4,1946,The Lost Weekend,The Lost Weekend,Billy Wilder,United States,[18]

In [10]:
#Уберем столбец Ref.Переведем названия столбцов в нижний регистр и уберем пробелы
df_cannes = df_cannes.drop('Ref.', axis=1)
df_cannes.columns = map(str.lower, df_cannes.columns)
df_cannes.columns = df_cannes.columns.str.replace(' ', '_')

In [11]:
#Уберем строки с идентичными значениями в столбцах
df_cannes = df_cannes[df_cannes["original_title"] != df_cannes["production_country"]]

In [12]:
#Оставляем одну страну производства
df_cannes['production_country'] = df_cannes['production_country'].replace(",.*", "", regex=True)

**И для Веницианского кинофестиваля**

In [13]:
df_venice.head()

,Year,English Title,Original Title,Director(s),Production Country
0,"1949–1953: Awarded as ""Golden Lion of Saint Mark""","1949–1953: Awarded as ""Golden Lion of Saint Mark""","1949–1953: Awarded as ""Golden Lion of Saint Mark""","1949–1953: Awarded as ""Golden Lion of Saint Mark""","1949–1953: Awarded as ""Golden Lion of Saint Mark"""
1,1949 (10th),Manon,Manon,Henri-Georges Clouzot,France
2,1950s,1950s,1950s,1950s,1950s
3,1950 (11th),Justice Is Done,Justice est faite,André Cayatte,France
4,1951 (12th),Rashomon,羅生門,Akira Kurosawa,Japan

In [14]:
#Переведем названия столбцов в нижний регистр и уберем пробелы
df_venice.columns = map(str.lower, df_venice.columns)
df_venice.columns = df_venice.columns.str.replace(' ', '_')

In [15]:
#Уберем строки с идентичными значениями в столбцах, а также уберем лишние символы из столбца с годом проведения фестиваля
df_venice = df_venice[df_venice["original_title"] != df_venice["production_country"]]
df_venice['year'] = [x[:4] for x in df_venice['year']]

In [16]:
#Оставляем одну страну производства
df_venice['production_country'] = df_venice['production_country'].replace(",.*", "", regex=True)

**Сбросим индексы и создадим для каждой таблицы столбец с названием фестиваля**

In [17]:
df_venice = df_venice.reset_index(drop=True)

In [18]:
df_berlin = df_berlin.reset_index(drop=True)

In [19]:
df_cannes = df_cannes.reset_index(drop=True)

In [20]:
df_cannes['festival'] = 'Cannes'

In [21]:
df_venice['festival'] = 'Venice'

In [22]:
df_berlin['festival'] = 'Berlin'

**Объединим таблицы в одну**

In [23]:
merges = [df_cannes, df_venice, df_berlin]

In [24]:
df = pd.concat(merges)

In [25]:
df.head()

,year,english_title,original_title,director(s),production_country,festival
0,1946,Brief Encounter,Brief Encounter,David Lean,United Kingdom,Cannes
1,1946,The Last Chance,Die Letzte Chance,Leopold Lindtberg,Switzerland,Cannes
2,1946,The Lost Weekend,The Lost Weekend,Billy Wilder,United States,Cannes
3,1946,María Candelaria,María Candelaria,Emilio Fernández,Mexico,Cannes
4,1946,Men Without Wings,Muži bez křídel,František Čáp,Czechoslovakia,Cannes

**Для дальнейшей визуализации добавим столбец с сокращенными названиями стран**

In [26]:
#Для этого импортируем библиотеку
import country_converter as coco

In [27]:
df['production_country_sht'] = coco.convert(names=df['production_country'])

Soviet Union not found in regex
Soviet Union not found in regex
West Germany not found in regex
West Germany not found in regex
Yugoslavia not found in regex
Yugoslavia not found in regex
Soviet Union not found in regex
West Germany not found in regex
West Germany not found in regex
West Germany not found in regex
Soviet Union not found in regex
West Germany not found in regex
Yugoslavia not found in regex
West Germany not found in regex
Soviet Union not found in regex
West Germany not found in regex
West Germany not found in regex
West Germany not found in regex
East Germany not found in regex
West Germany not found in regex
Soviet Union not found in regex

In [28]:
#Некоторых стран уже нет поэтому дополнительно поправим сокращенные названия
df.head()

,year,english_title,original_title,director(s),production_country,festival,production_country_sht
0,1946,Brief Encounter,Brief Encounter,David Lean,United Kingdom,Cannes,GBR
1,1946,The Last Chance,Die Letzte Chance,Leopold Lindtberg,Switzerland,Cannes,CHE
2,1946,The Lost Weekend,The Lost Weekend,Billy Wilder,United States,Cannes,USA
3,1946,María Candelaria,María Candelaria,Emilio Fernández,Mexico,Cannes,MEX
4,1946,Men Without Wings,Muži bez křídel,František Čáp,Czechoslovakia,Cannes,CZE

In [29]:
df.loc[df['production_country'] == 'Soviet Union', 'production_country_sht'] = 'RUS'

In [30]:
df.loc[df['production_country'] == 'West Germany', 'production_country_sht'] = 'DEU'

In [31]:
df.loc[df['production_country'] == 'Yugoslavia', 'production_country_sht'] = 'SRB'

In [32]:
df.loc[df['production_country'] == 'East Germany', 'production_country_sht'] = 'DEU'

**Также немного скорректируем информацию по отдельным фильмам**

In [33]:
#Итальянское производство
df.loc[df['english_title'] == 'The Garden of the Finzi-Continis', 'production_country'] = 'Italy'
df.loc[df['english_title'] == 'The Garden of the Finzi-Continis', 'production_country_sht'] = 'ITA'

In [34]:
#Итальянское производство
df.loc[df['english_title'] == 'The Battle of Algiers', 'production_country'] = 'Italy'
df.loc[df['english_title'] == 'The Battle of Algiers', 'production_country_sht'] = 'ITA'

In [35]:
#Итальянское производство
df.loc[df['english_title'] == 'General Della Rovere', 'production_country'] = 'Italy'
df.loc[df['english_title'] == 'General Della Rovere', 'production_country_sht'] = 'ITA'

In [36]:
#Итальянское производство
df.loc[df['english_title'] == 'The Great War', 'production_country'] = 'Italy'
df.loc[df['english_title'] == 'The Great War', 'production_country_sht'] = 'ITA'

In [37]:
#Совместное производство с бОльшей долей США
df.loc[df['english_title'] == 'Lust, Caution', 'production_country'] = 'United States'
df.loc[df['english_title'] == 'Lust, Caution', 'production_country_sht'] = 'USA'

In [38]:
#Совместное производство с бОльшей долей Франции
df.loc[df['english_title'] == 'Atlantic City', 'production_country'] = 'France'
df.loc[df['english_title'] == 'Atlantic City', 'production_country_sht'] = 'FRA'

In [39]:
#Совместное производство с бОльшей долей Франции
df.loc[df['english_title'] == 'Cyclo', 'production_country'] = 'France'
df.loc[df['english_title'] == 'Cyclo', 'production_country_sht'] = 'FRA'

In [40]:
#Британское производство
df.loc[df['english_title'] == 'Secrets & Lies', 'production_country'] = 'United Kingdom'
df.loc[df['english_title'] == 'Secrets & Lies', 'production_country_sht'] = 'GBR'

In [41]:
#Совместное производство с бОльшей долей Франции
df.loc[df['english_title'] == 'The Pianist', 'production_country'] = 'France'
df.loc[df['english_title'] == 'The Pianist', 'production_country_sht'] = 'FRA'

In [42]:
#Производство Китая
df.loc[df['english_title'] == 'Farewell My Concubine', 'production_country'] = 'China'
df.loc[df['english_title'] == 'Farewell My Concubine', 'production_country_sht'] = 'CHN'

**Итоговая таблица готова к дальнейшей обработке в BI-инструменте**

Ссылка на дашбоард - https://public.tableau.com/views/MajorEuropeanfilmfestivalswinners/Dashboard1?:language=en-US&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link